<footer>
  <div class="footer-left">
    <span>Redes Sociais</span>
   <a href="https://www.facebook.com/share/16t2Z1wrrb/"><img src="img/facebook.png" alt="Facebook"></a> 
      <a href="https://www.google.com"><img src="img/whatsapp.png" alt="Whatsapp"></a>
      <a href="https://www.instagram.com/boutique.sunfllower?utm_source=qr&igsh=MWduNGYxbG8yd3Q0bw=="><img src="img/instagram.png" alt="Instagram"></a>
  </div>
  <div class="footer-right">
    <img src="img/Logo.png" alt="Logo Final" />
  </div>
</footer>
