=
<div class="tela-login">
  <div class="imagem-lado">
    <img src="img/ranger.png" alt="Caminhonete" />
  </div>

  <div class="formulario-lado">
    <img src="img/ford.png" alt="Logo Ford" class="logo-ford" />
    <h2 class="text-success">Boas-vindas</h2> 
    <div class="ajuste">
    <form [formGroup]="loginForm" (ngSubmit)="onAcessoLogin()" class="shadow border border-primary-subtle rounded">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Usuário</label>
          <input formControlName="nome" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input formControlName="senha" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
           <input type="checkbox" class="form-check-input" id="lembrar">
        <label class="form-check-label" for="lembrar">Logar automaticamente</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>