<table class="mt-2 table">
    <thead>
        <tr>
            <th class="p-3">VIN</th>
            <th class="p-3">ODOMETRO</th>
            <th class="p-3">NÍVEL DO COMBUSTÍVEL</th>
            <th class="p-3">STATUS</th>
            <th class="p-3">LATITUDE</th>
            <th class="p-3">LONGITUDE</th>
        </tr>
    </thead>
    <tbody>
        <tr>           
             <!--<td class="d-flex">
                 <input (change)="onChangeVin($event)" type="text" placeholder="{{vin}}" value="{{vin}}"class="w=100 align-se">
                 

            </td>
            <td class="p-3">{{odometro}}KM </td>
            <td class="p-3">{{nivelCombustivel}}% </td>
            <td class="p-3">{{status.toUpperCase()}} </td>
            <td class="p-3">{{lat}} </td>
            <td class="p-3">{{long}} </td>-->

     <td class="d-flex" data-label="VIN">
      <input (change)="onChangeVin($event)" type="text" placeholder="{{vin}}" [value]="vin" class="vin-input">
    </td>
    <td class="p-3" data-label="Odômetro">{{odometro}}KM</td>
    <td class="p-3" data-label="Nível do Combustível">{{nivelCombustivel}}%</td>
    <td class="p-3" data-label="Status">{{status.toUpperCase()}}</td>
    <td class="p-3" data-label="Latitude">{{lat}}</td>
    <td class="p-3" data-label="Longitude">{{long}}</td>
        </tr>
    </tbody>
</table>