<table class="mt-2 table">
    <thead>
        <tr>
            <th class="p-3">Codigos</th>
            <th class="p-3">Carrinhos Abandonados</th>
            <th class="p-3">NÍVEL De Satisfação</th>
            <th class="p-3">Pedidos</th>
            <th class="p-3">Afiliados</th>
            <th class="p-3">Cliente Fidelizados</th>
        </tr>
    </thead>
    <tbody>
        <tr>           
             <!--<td class="d-flex">
                 <input (change)="onChangeVin($event)" type="text" placeholder="{Codigos}}" value="{{Codigos}}"class="w=100 align-se">
                 

            </td>
            <td class="p-3">{{Carrinhos Abandonados}} </td>
            <td class="p-3">{{NÍVEL De Satisfação}}% </td>
            <td class="p-3">{{Pedidos.toUpperCase()}} </td>
            <td class="p-3">{{Afiliados}} </td>
            <td class="p-3">{{Cliente Fidelizados}} </td>-->

     <td class="d-flex" data-label="Codigos">
      <input (change)="onChangeVin($event)" type="text" placeholder="{{Codigos}}" [value]="Codigos" class="vin-input">
    </td>
    <td class="p-3" data-label="Carrinhos Abandonados">{{CarrinhosAbandonados}}</td>
    <td class="p-3" data-label="Nivel De Satisfação">{{NivelDeSatisfacao}}</td>
    <td class="p-3" data-label="Pedidos">{{Pedidos.toString().toUpperCase() }}</td>
    <td class="p-3" data-label="Cliente Fidelizados">{{ClienteFidelizado}}</td>
        </tr>
    </tbody>
</table>